@use 'variables-mixin' as vm;

html {
  font-size: 50%;
}

@media screen and (min-width: 1026px) {
  .work {
    &__contents__area {
      position: relative;
      width: 95%;
      height: 40vh;
      transform-style: preserve-3d;
      perspective: 100%;
      transition: .5s;
    }
    &__contents__area:hover &__contents__image__front {
      transform: rotateX(-180deg);
    }
    &__contents__area:hover &__contents__back {
      transform: rotateX(0deg);
    }
    &__contents__image__front {
      width: 100%;
      min-width: 450px;
      height: 40vh;
      min-height: 250px;
      background-size: contain;
      background-repeat: no-repeat;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      transition: .5s;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      &::after {
        @include vm.work-contents-shadow();
      }
    }
    &__contents__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 45vh;
      background-color: #EBF5FC;
      backface-visibility: hidden;
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: rotateX(180deg);
      transition: .5s;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      &::after {
        @include vm.work-contents-shadow();
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .header {
    &__nav {
      display: none;
    }
    &__btn__area {
      display: none;
    }
    &__menu__button {
      display: block;
      transition: .3s;
    }
    &__menu__button:hover {
      opacity: .8;
    }
  }

  .modal {
    &__delete__button {
      position: absolute;
      top: 3%;
      right: 6%;
    }
    &__delete__icon {
      font-size: 35px;
    }
  }

  .slider {
    width: 100%;
    height: 100vh;
    & &-slide  &-slide-content {
      width: 60%;
    }
  }


  .profile {
    background-size: cover;
    background-position: center center;
    &__title__area {
      margin-bottom: 13rem;
    }
  }

  .work {
    padding-bottom: 0;
    &__inner {
      width: 90%;
    }
    &__contents {
      grid-template-columns: 1fr;
      grid-row-gap: 25px;
    }
    &__title__area {
      margin-bottom: 13rem;
    }
    &__contents__image__front {
      width: 100%;
      height: 30vh;
      @include vm.background();
    }
    &__contents__back {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    &__contents__area:not(:last-of-type) {
      margin-bottom: 10%;
    }
    &__contents__title {
      margin: 3% 0;
    }
    &__contents__description:last-of-type {
      margin-top: 3%;
    }
    &__contents__description {
      width: 80%;
    }
  }

  .skill {
    &__title__area {
      margin-bottom: 13rem;
    }
    &__contents__title {
      font-size: clamp(3.2rem, 4vw, 4.8rem);
    }
    &__area:nth-of-type(odd) > &__text__area > &__contents__title {
      text-align: left;
    }
    &__area:nth-of-type(even) > &__text__area > &__contents__title {
      text-align: right;
    }
    
  }

  .contact {
    &__title__area {
      margin-bottom: 13rem;
    }
  }

  .form {
    &__required {
      font-size: 1.2rem;
    }
    &__alert {
      font-size: 1.4rem;
    }
    .end-message-side-note {
      width: 75%;
    }
  }

  .sns__text {
    margin-bottom: 6rem;
  }
}



@media screen and (max-width: 769px) {
  .header {
    height: 65px;
    &__inner {
      height: 65px;
      padding: 0 2rem;
    }
    &__logo {
      width: 115px;
      height: 65px;
    }
  }

  .slider {
    &-wrapper {
      width: 100%;
      height: 100vh;
    }
    &-wrapper &-slide.slide1 {
      background-image: url(../images/firstview-lake-sp-05.jpg);
      background-position: right bottom;
    }
    & &-slide  &-slide-content {
      width: 85%;
    }
  }


  .profile {
    background-size: 275%;
    background-position: 0 0;
    padding: 12rem 0;
    &__title {
      font-size: 3.6rem;
    }
    &__title__area {
      margin-bottom: 10rem;
    }
  }

  .self-intro {
    grid-template-columns: 100%;
    grid-template-areas: 
    "text"
    "photo"
    "greeting";
    padding: 15% 0;
    row-gap: 5%;
    &__photo__area {
      justify-self: center;
      align-self: center;
      width: 35%;
      margin-right: 0;
    }
    &__image {
      width: 100%;
    }
    &__text__area {
      justify-self: center;
      align-self: center;
      width: 100%;
      padding: 0 3%;
    }
    &__greeting__area {
      width: 75%;
      justify-self: center;
    }
    &__dt {
      width: 50%;
      text-align: right;
      padding-right: 5%;
    }
    &__dd {
      width: 50%;
      padding-left: 2%;
    }
  }

  .work {
    padding: 12rem 0 0 0;
    &__inner {
      width: 90%;
    }
    &__title__area {
      margin-bottom: 10rem;
    }
  }


  .skill {
    padding: 12rem 0;
    &__area {
      display: flex;
      flex-direction: column;
      margin-bottom: 12rem;
    }
    &__title__area {
      margin-bottom: 10rem;
    }
    &__area:nth-child(odd) {
      flex-direction: column;
    }
    &__contents__title__sp {
      display: block;
      font-family: vm.$font-family-no;
      font-size: clamp(3.6rem, 3vh, 4.8rem);
      font-weight: bold;
      text-align: center;
      margin-bottom: 10%;
    }
    &__area:last-of-type &__contents__title__sp {
      opacity: .3;
    }
    &__photo__area {
      width: 85%;
      margin: 0 auto;
      z-index: 2;
    }
    &__photo {
      width: 85%;
      display: inline;
      z-index: 2;
      box-shadow: -3px -3px 10px 1px #a8a8a8,
                  3px 3px 10px 1px #a8a8a8;
    }
    &__inner > &__area:nth-of-type(2n-1) &__photo__area > &__photo {
      box-shadow: -3px -3px 10px 1px #a8a8a8,
                  3px 3px 10px 1px #a8a8a8;
    }
    &__photo__text {
      position: absolute;
      bottom: 17%;
      right: 12%;
      font-size: 1.5rem;
    }
    &__text__area {
      width: 65%;
      background-color: #3c3c3c;
      opacity: .8;
      backdrop-filter: blur(10px);
      color: #fff;
      border-radius: 20px;
      margin-top: -2.5rem;
    }
    &__inner > &__area:nth-of-type(2n) > &__text__area {
      margin-left: 0;
    }
    &__inner > &__area:nth-of-type(2n-1) > &__text__area {
      margin-right: 0;
    }
    &__contents__title {
      font-size: clamp(2.8rem, 3vw, 4rem);
      width: 100%;
      margin: 1rem 0 2rem 0;
      display: none;
    }
    &__area:nth-of-type(odd) > &__text__area > &__contents__title {
      text-align: center;
    }
    &__area:nth-of-type(even) > &__text__area > &__contents__title {
      text-align: center;
    }
     &__text-box {
      backdrop-filter: blur(10px);
      padding: 2rem 1.5rem;
      opacity: 1;
    }
  }

  .contact {
    padding: 12rem 0;
    &__title__area {
      margin-bottom: 10rem;
    }
  }

  .form {
    width: 100%;
    &__area {
      padding: 20% 2%;
      width: 90%;
    }
    &__required {
      font-size: 1rem;
    }
    &__alert {
      display: block;
      font-size: 1.2rem;
    }
    &__input__area {
      width: 60%;
    }
    &__textarea__area {
      width: 100%;
    }
    .end-message-side-note {
      width: 90%;
    }
  }
  .sns__text {
    margin-bottom: 6rem;
  }
  .profile__title::before,
  .work__title::before,
  .skill__title::before,
  .contact__title::before {
    font-size: 7rem;
  }
}

// iPhoneXなど375px以下
@media screen and (max-width: 376px) {
  .slider {
    & &-slide  &-slide-content {
      width: 97%;
    }
  }
  .work {
    &__inner {
      width: 100%;
    }
  }
  .self-intro {
    padding-bottom: 17%;
  }
  .sns__text {
    margin-bottom: 6rem;
  }
  .form {
    &__submit__outer {
      width: 220px;
      height: 50px;
    }
    &__submit__outer &__submit {
      width: 215px;
      height: 40px;
    }
  }
}
