@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.js-fade {
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.js-fade.fade-active {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#splash {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #FAF9F5;
  text-align: center;
  color: #626262;
}

#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #626262;
}

#header.header-hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(168, 168, 168, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(0deg, rgba(168, 168, 168, 0.6), rgba(0, 0, 0, 0.6));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__inner {
  max-width: 1440px;
  position: relative;
  height: 100px;
  padding: 0 5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  width: 100%;
  padding: 0 2rem;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav__item {
  margin-left: 5rem;
}
.header__nav__link {
  position: relative;
  font-size: clamp(2.2rem, 2vw, 3.2rem);
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav__link::before, .header__nav__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav__link::before {
  top: 0;
  left: 0;
}
.header__nav__link::after {
  bottom: 0;
  right: 0;
}
.header__nav__link:hover::before, .header__nav__link:hover::after {
  width: 100%;
}
.header__nav__link:hover {
  color: #eca7b1;
}
.header__btn__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.header__outer {
  position: relative;
  background: #111111;
  width: 225px;
  height: 60px;
  border-radius: 50px;
}
.header__outer .header__button, .header__outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__outer .header__button {
  background: #111111;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 2.4rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 50px;
  height: 50px;
  width: 215px;
  border-radius: 50px;
  z-index: 10;
  cursor: pointer;
}
.header__outer span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 50px;
}
.header__button span {
  border-radius: 50px;
}
.header__button:hover {
  color: rgba(255, 255, 255, 0.7);
}
.header__outer:hover span:nth-child(1) {
  -webkit-filter: blur(7px);
          filter: blur(7px);
}
.header__outer:hover span:nth-child(2) {
  -webkit-filter: blur(14px);
          filter: blur(14px);
}
.header__outer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb3b), to(#ff00e0));
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.header__menu__button {
  position: absolute;
  top: 25%;
  right: 5%;
  background: none;
  border: none;
  display: none;
}
.header__menu__bar, .header__delete__icon {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.main {
  width: 100%;
  margin: 0 auto;
}

#slider {
  width: 100%;
  height: 100vh;
}

.slider {
  position: relative;
}
.slider-wrapper {
  width: 100%;
  height: 100vh;
}
.slider .slider-slide .slider-slide-content {
  position: absolute;
  width: 60%;
  height: 10%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: clamp(2.4rem, 3vw, 3.6rem);
  letter-spacing: 0.07em;
  line-height: 1.5;
  pointer-events: none;
  -webkit-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
  padding: 5px;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 20;
}
.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  z-index: 30;
}
.modal__title__area {
  position: relative;
  text-align: center;
}
.modal__title {
  font-family: "Fredericka the Great", cursive;
  font-size: clamp(3.6rem, 5vw, 5.6rem);
  letter-spacing: 0.07em;
  color: #FAF9F5;
  margin-bottom: 8rem;
}
.modal__delete__button {
  background: none;
  border: none;
  cursor: pointer;
}
.modal__delete__icon {
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  background: none;
  color: #FAF9F5;
}
.modal__delete__icon:hover {
  color: rgba(250, 249, 245, 0.7);
}
.modal__list {
  margin-bottom: 7rem;
  padding: 0 2rem;
  text-align: center;
}
.modal__list__item {
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #FAF9F5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal__list__item:hover {
  color: #eca7b1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal__sns__area {
  text-align: center;
}
.modal__sns__icon:first-of-type {
  margin-right: 2rem;
}
.modal__sns__icon:last-of-type {
  margin-left: 2rem;
}
.modal__sns__icon {
  font-size: 4rem;
  color: #FAF9F5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal__sns__icon:hover {
  color: #eca7b1;
}

.profile {
  background-image: url(../images/blue-snow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 15rem 0;
}
.profile__inner {
  width: 90%;
  margin: 0 auto;
}
.profile__title__area {
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}
.profile__title {
  font-family: "Kiwi Maru", serif;
  font-size: 4.8rem;
  color: #626262;
}
.profile__title::before {
  content: "PROFILE";
  font-family: "Fredericka the Great", cursive;
  font-size: 8.2rem;
  color: rgba(255, 119, 244, 0.2);
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.self-intro {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: 45%;
  grid-template-areas: "photo text" "greeting greeting";
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  row-gap: 10%;
  padding: 5% 2%;
  margin: 0 auto;
  background-color: rgba(190, 190, 190, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 30px;
}
.self-intro__photo__area {
  grid-area: photo;
  justify-self: right;
  width: 50%;
  max-width: 300px;
  margin-right: 10%;
}
.self-intro__image {
  width: 90%;
  max-width: 300px;
}
.self-intro__text__area {
  grid-area: text;
  justify-self: start;
  align-self: center;
  width: 90%;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0 10% 0 2%;
}
.self-intro__title {
  text-align: center;
  font-size: clamp(2rem, 1.6vw, 3rem);
  color: #626262;
  margin-bottom: 5%;
}
.self-intro__dl {
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(1.2rem, 1.4vw, 1.8rem);
  line-height: 1.5;
  color: #626262;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.self-intro__dt {
  width: 35%;
}
.self-intro__dd {
  width: 65%;
  text-align: left;
}
.self-intro__dt, .self-intro__dd:not(:last-child) {
  margin-bottom: 4%;
}
.self-intro__greeting__area {
  grid-area: greeting;
  width: 65%;
  justify-self: center;
  padding: 1.5rem 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #626262;
}
.self-intro__greeting__title {
  font-size: clamp(1.4rem, 1.8vw, 2.2rem);
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}
.self-intro__greeting {
  font-size: clamp(1.2rem, 1.6vw, 2rem);
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.work {
  background-color: #FAF9F5;
  padding: 15rem 0;
}
.work__inner {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}
.work__title__area {
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}
.work__title {
  font-family: "Kiwi Maru", serif;
  font-size: 4.8rem;
  color: #626262;
}
.work__title::before {
  content: "WORK";
  font-family: "Fredericka the Great", cursive;
  font-size: 8.2rem;
  color: rgba(255, 119, 244, 0.2);
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.work__contents {
  width: 100%;
  padding: 2% 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 70px;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__image1 {
  background-image: url(../images/portfolio01_stylish_site.png);
}
.work__image2 {
  background-image: url(../images/portfolio02_corpolate_site.png);
}
.work__image3 {
  background-image: url(../images/portfolio03_your_coding.png);
}
.work__image4 {
  background-image: url(../images/portfolio04_hiro_portfolio.png);
}
.work__contents__image__front {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.work__contents__title, .work__contents__description {
  font-family: "Noto Sans JP", sans-serif;
  color: #626262;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.05em;
  line-height: 1.6;
}
.work__contents__title {
  font-size: clamp(2.2vw, 3.2rem, 3.4vw);
}
.work__contents__description {
  font-size: clamp(1.4vw, 2.2rem, 2.6vw);
  -moz-text-align-last: left;
       text-align-last: left;
}
.work__contents__link {
  display: block;
  width: 50%;
  padding: 3%;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(1.2vw, 2rem, 2.4vw);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.work__contents__link:hover {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.fa-external-link-alt {
  margin-left: 2%;
}

.skill {
  background-color: #FAF9F5;
  padding: 15rem 0;
}
.skill__inner {
  max-width: 1440px;
  width: 97.5%;
  margin: 0 auto;
}
.skill__title__area {
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}
.skill__title {
  font-family: "Kiwi Maru", serif;
  font-size: 4.8rem;
  color: #626262;
}
.skill__title::before {
  content: "SKILL";
  font-family: "Fredericka the Great", cursive;
  font-size: 8.2rem;
  color: rgba(255, 119, 244, 0.2);
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.skill__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15rem;
  width: 100%;
}
.skill__area:last-of-type {
  margin-bottom: 0;
}
.skill__area:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.skill__contents__title__sp {
  display: none;
}
.skill__photo__area {
  position: relative;
  width: 50%;
  border-radius: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
}
.skill__photo {
  width: 90%;
  border-radius: 20px;
  display: block;
  -webkit-box-shadow: -5px 5px 10px 0px #332929;
          box-shadow: -5px 5px 10px 0px #332929;
}
.skill__inner > .skill__area:nth-of-type(2n-1) .skill__photo__area > .skill__photo {
  -webkit-box-shadow: 5px 5px 10px 0px #3c3c3c;
          box-shadow: 5px 5px 10px 0px #3c3c3c;
}
.skill__photo__text {
  position: absolute;
  bottom: 7.5%;
  right: 20%;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
.skill__text__area {
  width: 40%;
  font-family: "Noto Sans JP", sans-serif;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 2;
}
.skill__inner > .skill__area:nth-of-type(2n) > .skill__text__area {
  margin-left: -12.5rem;
}
.skill__inner > .skill__area:nth-of-type(2n-1) > .skill__text__area {
  margin-right: -10rem;
}
.skill__area:last-of-type .skill__photo {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}
.skill__contents__title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4.5rem;
}
.skill__text-box {
  width: 100%;
  padding: 2rem 3rem;
  background-color: #3c3c3c;
  opacity: 0.6;
  border-radius: 20px;
  text-align: left;
}
.skill__text {
  font-size: clamp(1.6rem, 1.5vw, 3.2rem);
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.05em;
  overflow-wrap: break-word;
}

.contact {
  position: relative;
  background-color: #EBF5FC;
  padding: 15rem 0;
}
.contact__inner {
  max-width: 1440px;
  margin: 0 auto;
}
.contact__title__area {
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}
.contact__title {
  font-family: "Kiwi Maru", serif;
  font-size: 4.8rem;
  color: #626262;
}
.contact__title::before {
  content: "CONTACT";
  font-family: "Fredericka the Great", cursive;
  font-size: 8.2rem;
  color: rgba(255, 119, 244, 0.2);
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-top-area {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#page-top {
  margin-right: 5%;
}

.fa-chevron-circle-up {
  font-size: 5rem;
  font-weight: 900;
  color: #eca7b1;
  cursor: pointer;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fa-chevron-circle-up:hover {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(255, 255, 255, 0.6);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.form {
  width: 85%;
  margin: 0 auto;
}
.form__area {
  background-color: #EBF5FC;
  padding: 7rem 9rem;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px 35px #9f9f9f, -20px -20px 35px #ffffff;
          box-shadow: 20px 20px 35px #9f9f9f, -20px -20px 35px #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form__area:hover {
  -webkit-box-shadow: 20px 20px 50px #aaaaaa, -20px -20px 50px #ffffff;
          box-shadow: 20px 20px 50px #aaaaaa, -20px -20px 50px #ffffff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.form__box {
  position: relative;
  margin-bottom: 9.5rem;
}
.form__box:last-of-type > .form__user {
  position: absolute;
  top: 5px;
}
.form__user {
  width: 100%;
  position: absolute;
  top: -30px;
  left: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  color: #626262;
  margin-bottom: 2rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form__required {
  font-size: 1.6rem;
  color: red;
  margin-left: 1%;
}
.form__alert {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  color: red;
  margin-left: 1%;
}
.form__input__area {
  width: 40%;
}
.form__box:first-of-type .form__input__area::after {
  content: "例)  斎藤弘高";
  color: #626262;
  opacity: 0.8;
  font-size: 1.4rem;
  margin: 5px 0 0 10px;
}
.form__box:nth-of-type(2) .form__input__area::after {
  content: "例)  abc@abc.com";
  color: #626262;
  opacity: 0.8;
  font-size: 1.4rem;
  margin: 5px 0 0 10px;
}
.form__textarea__area {
  width: 85%;
}
.form__input, .form__textarea {
  display: block;
  border: none;
  background-color: #EBF5FC;
  border-bottom: 4px solid #dddddd;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}
.form__textarea {
  height: 50px;
  resize: none;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 1.6rem;
  visibility: hidden;
  opacity: 0.8;
}
.form__textarea::-moz-placeholder {
  font-size: 1.6rem;
  visibility: hidden;
  opacity: 0.8;
}
.form__textarea:-ms-input-placeholder {
  font-size: 1.6rem;
  visibility: hidden;
  opacity: 0.8;
}
.form__textarea::-ms-input-placeholder {
  font-size: 1.6rem;
  visibility: hidden;
  opacity: 0.8;
}
.form__textarea::placeholder {
  font-size: 1.6rem;
  visibility: hidden;
  opacity: 0.8;
}
.form__textarea:focus::-webkit-input-placeholder {
  visibility: visible;
}
.form__textarea:focus::-moz-placeholder {
  visibility: visible;
}
.form__textarea:focus:-ms-input-placeholder {
  visibility: visible;
}
.form__textarea:focus::-ms-input-placeholder {
  visibility: visible;
}
.form__textarea:focus::placeholder {
  visibility: visible;
}
.form__input:focus ~ label, .form__textarea:focus ~ label {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-size: 2rem;
  color: #eca7b1;
}
.form__input:focus, .form__textarea:focus {
  font-size: 2rem;
  color: #626262;
  border-bottom: 4px solid #eca7b1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #FAF9F5;
  outline: none;
}
.form__submit__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.form__submit__outer {
  position: relative;
  background: #111111;
  width: 250px;
  height: 70px;
  border-radius: 50px;
}
.form__submit__outer .form__submit, .form__submit__outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form__submit__outer .form__submit {
  background: #111111;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 2.4rem;
  font-family: "Noto Sans JP", sans-serif;
  height: 60px;
  width: 235px;
  border-radius: 50px;
  z-index: 10;
  cursor: pointer;
}
.form__submit__outer span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 50px;
}
.form__submit span {
  border-radius: 50px;
}
.form__submit__outer:hover span:nth-child(1) {
  -webkit-filter: blur(7px);
          filter: blur(7px);
}
.form__submit__outer:hover span:nth-child(2) {
  -webkit-filter: blur(14px);
          filter: blur(14px);
}
.form__submit__outer:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb3b), to(#ff00e0));
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.form .end-message {
  text-align: center;
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  font-family: "Noto Sans JP", sans-serif;
  color: #626262;
  display: none;
}
.form .end-message-side-note {
  width: 65%;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #626262;
  margin: 10px auto;
  display: none;
}

iframe {
  display: none;
}

.sns {
  text-align: center;
}
.sns__text {
  font-size: clamp(1rem, 1vw, 1.6rem);
  font-family: "Noto Sans JP", sans-serif;
  color: #626262;
  margin: 3rem 0;
}
.sns__icon__link:first-of-type {
  margin-right: 2rem;
}
.sns__icon__link:last-of-type {
  margin-left: 2rem;
}
.sns__icon {
  font-size: 5rem;
  font-weight: 900;
  color: #8fcffd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  cursor: pointer;
}
.sns__icon:hover {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px rgba(255, 255, 255, 0.6);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer {
  width: 100%;
  height: 50px;
  background: #454545;
}
.footer__text__area {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copyright {
  font-size: clamp(1rem, 1vw, 1.6rem);
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
}

/*# sourceMappingURL=style.css.map */